<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <!--<li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact-us">Contact us</a></li>-->
        <li><a routerLink="/interPolation" routerLinkActive="active">InterPol</a></li>
        <li><a routerLink="/dataBinding" routerLinkActive="active">D-Bind</a></li>
        <li><a routerLink="/sDirective" routerLinkActive="active">sDir</a></li>
        <li><a routerLink="/component" routerLinkActive="active">Comp</a></li>
        <li><a routerLink="/component-interaction" routerLinkActive="active">Com-Inter</a></li>
        <li><a routerLink="/di" routerLinkActive="active">DI</a></li>
        <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li><a routerLink="/myforms" routerLinkActive="active">Forms</a></li>


      </ul>
    </nav>
  </div>
</header>
